body {
    margin: 0px;
}

.button {
    border: 2px solid darkcyan;
    background-color: white;
    color: darkcyan;
    padding: 100px 150px 100px 150px;
    margin: 140px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: darkcyan;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}